{% extends 'base.html' %}
{% block content %}

    <h1>Номери готелю</h1>
    <div class="room-list">
        {% for room in rooms  %}
        <div class="card" style="width: 18rem;">
            <img src="{{room.image.url}}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Номер:{{room.title}}</h5>
              <p class="card-text">Ціна:{{room.price}}гривень</p>
              <a href="#" class="btn btn-primary">Забронювати</a>
            </div>
          </div>

            
        {% endfor %}
    </div>

    
{% endblock content %}